.registationPage{
    background-color: rgb(50, 0, 249); 
    display: flex; 
    flex-direction: column; 
    height: 720px;   
}
.registationCard, .registrationBlock {
    height: 450px; 
    background-color: rgb(255, 255, 255); 
    display: flex; 
    flex-direction: column; 
    border-radius: 10%; 
    text-align: center; 
    justify-content: flex-start;
    
}
 .registrationBlock{
    padding: 5px;
 }
.registationCard {
    width: 400px; 
    align-self: center; 
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
input::placeholder{
   color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
}
input:focus {
    outline: none;
    box-shadow: rgb(79, 15, 255) 0px 0px 10px;
}
input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
}

button:active{
   background-color: #4f0fff9c;
}
button:disabled{
   background-color: #4f0fff67;
}
hr{
    margin: 0;
    margin-bottom: 10px;
    border: 2px solid #4f0fff;
}
.registrationBlock__step{
    color:black;
    font-size: 12px;
    display: flex;
    justify-self: left;
    margin-left: 30px;
    text-decoration: solid #4f0fff;
}
.socialMediaRegistration img{
    height: 70px;
    width: 70px;
    margin:10px;
}
.socialMediaRegistration img:active{
   opacity: 0.5;
}
.socialMediaRegistration img:hover{
   transform: scale(1.1);
}

.verification, .dateOfBirth{
    display: flex;
    font-size: 12px;
    text-align: justify;
    margin: 16px 32px;
    gap:20px;
}
.dateOfBirth{
    gap:24px;
    margin: 8px 0px;
}

.profilePhoto__image--adding {
    border-radius: 50%;
    font-size: 24px;
    margin: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.profilePhoto__button--adding{
    position: absolute;
    bottom: 5px;
    right: 150px;
    background-color:white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

 

























