.cover-title-media{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin: 20px 20px 0px 40px;
}
.album-cover{
    height: 150px;
    width: 150px;
    border-radius: 20px;
    margin: 0 0 10px 0;
}
.cover-title-media h1{
    font-size: 20px;
    text-align: center;
}