.header {
    background-color: rgb(79, 15, 255);
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    min-width: 1300px;
}
.interanceButtons {
    display: flex;
    align-items: center;
    gap: 20px;
}
.logoName{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.logoName__image {
    margin: 10px 20px 10px 10px;
    height: 50px;
    width: 60px;
}
.logoName__heading {
    align-self: center;
    color: white;
    font-family: "Nunito", sans-serif;
    margin-top: 5px;
    transition: transform 1s;
}
.logoName__heading:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 20px;
}
.logoName__heading:active {
    text-shadow: rgb(255, 255, 255) 1px 0 20px;
    transform: scale(0.9);
    
}
.userAccount__image--profile{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin: 5px 10px;
}
.userAccount{
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
width:200px;
}
.userAccount:hover{
    opacity:(0.8);

}
.userAccount p{
    font-size: 20px;
    margin: 10px 20px 10px 0;
    overflow:hidden;
    word-spacing:nowrap ;
    text-overflow: ellipsis;
}
.interanceButtons__registration, .interanceButtons__login {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    margin-right: 30px;
}
.interanceButtons__registration{
    background-color: transparent;
    color: white;
    border: none;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    transition: transform 2s;
}
.interanceButtons__login {
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 12px;
    padding: 8px 25px;
    max-height: 50px;
    width: 80%;
    transition: transform 2s;
}
.interanceButtons__login:hover {
    box-shadow: rgb(255, 255, 255) 5px 0 30px;
}
.interanceButtons__login:active {
    background-color: rgb(255, 255, 255);
     text-shadow: rgb(58, 19, 255) 1px 0 20px;
     box-shadow: rgb(255, 255, 255) 1px 0 10px;
}
.interanceButtons__registration:hover {
    text-shadow: rgb(255, 255, 255) 1px 0 8px;
}
.interanceButtons__registration:active {
   opacity: 0.9;
}
.menu {
    background-color: rgb(255, 255, 255); 
    height: 30px;
    width: 30px;
    border-radius: 30%;  
    margin-right: 20px;
    transition: transform 1.8s ease-in-out, box-shadow 0.3s ease-in-out; 
    cursor: pointer; 
    display: flex;           
    position: relative; 
}
.menu__item {
    position: relative;
    z-index: 1000;
    top: 20px;
    right:7.5cm;
}
.menu:hover{
    transform: scale(1.1);
}
.menu:active{
    opacity: 0.5 !important;
}
.form-control {
    border-radius: 13px !important;
    padding: 9px 10px !important;
}
.searchContainer input:focus{
    box-shadow: rgb(255, 255, 255) 1px 0 10px !important;
}