.cover-title-media {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin: 20px 20px 0px 40px;
}

.album-cover-component {
    min-height: 150px;
    width: 150px;
    border-radius: 20px;
    margin: 10px 0;
}

.cover-title-media h1 {
    font-size: 20px;
    text-align: center;
    word-break: break-word; 
    max-width: 150px;
}

.cover-artist {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.artist-cover-component {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 10px 0;
  
}

.cover-artist h1 {
    font-size: 20px;
    text-align: center;
    word-break: break-word;
    max-width: 180px; 
}