/* ModalWindows.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2); /* Прозрачный черный фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .sm-icons{
    display: flex;
    justify-content: center;
    gap:15px;  
}
  .sm-icons img{
    height:80px ;
    width: 80px;
}
.credits-info{
font-weight: bold;
display: flex;
flex-direction: column;
    justify-content: left;
    margin-top:16px;
}
:root {
  --purple-color: rgb(79, 15, 255);
}

.purple-text {
  color: var(--purple-color);
}
.credits-info label{
  margin:5px 0px;
  font-size: 20px;
}
  .line{
    background-color: rgb(160, 160, 160);
    border-radius: 50px;
    height:3px ;
    width: 520px;
    margin:30px 0 30px 0;
  }
  .share-link{
    border: none;
    font-size: 20px;
    text-align: center;
    color:rgb(79, 15, 255);
    background-color: rgb(253, 253, 253);
    border-radius: 50px;
    padding: 10px 20px;
  }
  .shareModalWindow, .creditsModalWindow, .addToPlaylistModalWindow {
    border-radius: 55px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Добавлено для правильного позиционирования кнопки закрытия */
    color: black; /* Изменено на черный для лучшей видимости текста */
    background-color: rgb(236, 235, 237);
  }
  .shareModalWindow p{
    text-align: center;
    font-size: 15px;
    margin: 12px 10px 8px 10px;
  }
  .heading{
    text-align: center;
    font-size: 40px;
  }
  .copy-button{
    border: none;
    border-radius:40px;
    padding: 5px 15px;
    cursor: pointer;
    color:white;
    background-color:rgb(79, 15, 255);
    margin-left: 15px;
  }
  .copy-button:focus{
    border: 1px solid rgb(79, 15, 255);
    color:rgb(79, 15, 255);
    background-color:white;
  }
  .close-button {
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 40px; 
  }
.playlist-search{
  width:500px;
  height: 50px;
  border:none;
  padding-left: 10px;
  margin-top:15px;
}
.playlist-search:focus{
  outline: none;

}
.create-playlist, .save-playlist{
background-color: white;
border:none;
border-radius: 10px;
padding:4px 24px;
color: black;
}
.buttons-playlist{
margin:18px 0 0px 0;
display: flex;
justify-content: space-evenly;
flex-direction: row;
}
