.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    background-color: rgb(255, 255, 255);
    height: 3000px;
    min-width: 1200px;
    max-width: 5500px;
}

html, body {
    height: 100%;
    margin: 0; 
}
.grid-container  {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}
.main {
    height: 100%;
}
.footer {
    height: 300px;
}
