Header {
    height: 60px; /* Устанавливаем высоту для Header */
    background-color: #f8f9fa; /* Цвет фона для Header */
}

Footer {
    height: 300px; /* Устанавливаем высоту для Footer */
    background-color: #f8f9fa; /* Цвет фона для Footer */
}
